# COGS 108 - Data Checkpoint

# Names

- Matin Ghaffari
- Jorge Acevedo
- James Lu
- Alan Amirian
- Rahil Shah

<a id='research_question'></a>
# Research Question

How have players' shooting regions changed over the last 20 years from October 29, 2000 to October 11, 2020 and how has these changes affected various player positions?

# Dataset(s)

- Dataset Name: 2019-20 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2020_totals.html
- Number of observations: 651

This dataset contains statistics and information on all players who participated in the 2019-2020 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2018-19 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2019_totals.html
- Number of observations: 708

This dataset contains statistics and information on all players who participated in the 2018-2019 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2017-18 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2018_totals.html
- Number of observations: 664

This dataset contains statistics and information on all players who participated in the 2017-2018 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2016-17 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2017_totals.html
- Number of observations: 595

This dataset contains statistics and information on all players who participated in the 2016-2017 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2015-16 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2016_totals.html
- Number of observations: 578

This dataset contains statistics and information on all players who participated in the 2015-2016 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2014-15 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2015_totals.html
- Number of observations: 651

This dataset contains statistics and information on all players who participated in the 2014-2015 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2013-14 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2014_totals.html
- Number of observations: 611

This dataset contains statistics and information on all players who participated in the 2013-2014 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2012-13 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2013_totals.html
- Number of observations: 573

This dataset contains statistics and information on all players who participated in the 2012-2013 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2011-12 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2012_totals.html
- Number of observations: 551

This dataset contains statistics and information on all players who participated in the 2011-2012 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2010-11 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2011_totals.html
- Number of observations: 625

This dataset contains statistics and information on all players who participated in the 2010-2011 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2009-10 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2010_totals.html
- Number of observations: 578

This dataset contains statistics and information on all players who participated in the 2009-2010 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2008-09 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2009_totals.html
- Number of observations: 582

This dataset contains statistics and information on all players who participated in the 2008-2009 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2007-08 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2008_totals.html
- Number of observations: 595

This dataset contains statistics and information on all players who participated in the 2007-2008 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2006-07 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2007_totals.html
- Number of observations: 516

This dataset contains statistics and information on all players who participated in the 2006-2007 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2005-06 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2006_totals.html
- Number of observations: 563

This dataset contains statistics and information on all players who participated in the 2005-2006 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2004-05 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2005_totals.html
- Number of observations: 585

This dataset contains statistics and information on all players who participated in the 2004-2005 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2003-04 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2004_totals.html
- Number of observations: 585

This dataset contains statistics and information on all players who participated in the 2003-2004 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2002-03 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2003_totals.html
- Number of observations: 483

This dataset contains statistics and information on all players who participated in the 2002-2003 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2001-02 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2002_totals.html
- Number of observations: 500

This dataset contains statistics and information on all players who participated in the 2001-2002 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.

- Dataset Name: 2000-01 NBA Player Stats: Totals
- Link to the dataset: https://www.basketball-reference.com/leagues/NBA_2001_totals.html
- Number of observations: 537

This dataset contains statistics and information on all players who participated in the 2000-2001 NBA season and this source provides official NBA data as provided by SportRadar, which is the official statistics provider of the NBA. The columns of emphasis include quantatative measures regarding 2 and 3 point makes (discrete), attempts (discrete), and percentages (continuous), number of games (discrete), minutes played (discrete), as well as nominal categorical variables of player name, team, and position.


Since our multiple datasets will have the same columns, and sometimes even the same unique identifiers (players who played in multiple seasons), we are easily able to concatenate or merge the datasets together or compare changes between the datasets. Furthermore the correspondence in details of the our datasets also allows us to set our index as the players' unique identifier to make our data relational, and also gives us the ability to create a singular methods that can process all these datasets like we do for our cleaning.

# Setup

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display # used to print a series of dataframes in nice formatting
import os                           # used for handling filepaths

# Our data source had no way to export the csv, however they did have the csv formats available and we just
# had to copy and paste the data into our own files, which are found in the data subdirectory of our repository

# List of file paths for NBA statistics from 2000-2020 are iterated through in the data cleaning 
# section where they are passed into a method that reads the .csv files and cleans the 'data' 
# while also saving the cleaned data to new .csv files in the 'cleanedData' subdirectory
filepaths = ["data/2019_2020statsNBA.csv", "data/2018_2019statsNBA.csv", "data/2017_2018statsNBA.csv",
             "data/2016_2017statsNBA.csv", "data/2015_2016statsNBA.csv", "data/2014_2015statsNBA.csv",
             "data/2013_2014statsNBA.csv", "data/2012_2013statsNBA.csv", "data/2011_2012statsNBA.csv",
             "data/2010_2011statsNBA.csv", "data/2009_2010statsNBA.csv", "data/2008_2009statsNBA.csv",
             "data/2007_2008statsNBA.csv", "data/2006_2007statsNBA.csv", "data/2005_2006statsNBA.csv",
             "data/2004_2005statsNBA.csv", "data/2003_2004statsNBA.csv", "data/2002_2003statsNBA.csv",
             "data/2001_2002statsNBA.csv", "data/2000_2001statsNBA.csv"]

# Data Cleaning

First we took a look at the datasets before any processing by printing and looking at the data itself, observing its shape and the number of null/non-null entries in each of the variables via the .info() method (done in the 2nd for loop in the code below). By doing so we only saw non-null data in the float64 columns for percentage variables like as FG% (Field Goal %), 3P% (3 point %), 2P% (2 point %) which makes sense since there are division by zero erorrs when no field goals of a certain category are attempted, thus it makes sense that these are already set as NaN values. After doing this we see that our datasets have no missingness that we need to account for.

After doing our initial observations we constructed a method (clean_NBAstats) that accepts a filepath as an argument in order to  clean all 20 of our datasets with a for loop that is responsible for passing each dataset filepath into this clean method. First the method reads the dataframe from the csv file path and reads the data only with the columns that we care about which are 'Player', 'Pos', 'Tm', 'G', 'MP', '3P', '3PA', '3P%', '2P', '2PA', '2P%'. These columns  include quantatative measures regarding 2 and 3 point makes ('2P' & '3P') (discrete), attempts ('2PA' & '3PA') (discrete), and percentages ('2P%' & '3P%') (continuous), number of games ('G') (discrete), minutes played ('MP') (discrete), as well as nominal categorical variables of team ('Tm'), position ('Pos'), and player name (Player). 

Then our method cleans the 'Player' column by using the str.split method to seperate the players' unique identifiers from their first and last name into 2 seperate columns, where the first and last name remain in the 'Player' column while the unique identifier is assigned to the 'PlayerID' column which is then ultimately set as the index of the datasets.

Next our method needed to clean duplicate player names which occurs in the case when players played for multiple teams in a given season. We handle these cases by and keeping their combined statistics and dropping their redundant partial observations. Additionaly, our method cleans the untidy data in the 'Pos' column since some players have both a primary and secondary position denoted by PrimaryPos-SecondaryPos. Since we only care about a player's primary position, for these cases we just keep the primary position in our observations.

Finally, we ran the .info() method again on all the cleaned datasets to ensure that we have accounted for all potential missing data and found that our cleaning was succesful and that our cleaned data is tidy. Then our method writes the newly cleaned data as a new csv with "_clean" appended to the end of the file name and saves the new csv files in the "cleanedData" subdirectory of our repository.

In [2]:
# Method accepts file paths for NBA statistics from 2000-2020 to clean the data
def clean_NBAstats(fp):
    # Read each year of NBA stats data from the file path of the csv files for statistics from 2000-2020
    # and we only read the data with the columns that we care about 
    df = pd.read_csv(fp, usecols=['Player','Pos', 'Tm','G','MP','3P','3PA','3P%','2P','2PA','2P%'])
    
    # Clean the player names by using str.split method to seperate the players' unique identifiers from
    # their first and last name into 2 seperate columns 
    # e.g: Player: Jaylen Adams\adamsja01 --> Player: Jaylen Adams, PlayerID: adamsja01
    df[['Player','PlayerID']] = df.Player.str.split("\\",expand=True) 
    
    # If a player appears in multiple observations/teams this means that the player was traded mid-season
    # and in these cases we take the total statistics from all their observations and use an aggregated 
    # total observation for these players and dropping the duplicate observations
    mask = (df.groupby('Player').size() > 1)
    dupes = df[df['Player'].isin(mask[mask].index)]
    df = df.drop(dupes[~(dupes['Tm'] == 'TOT')].index).reset_index(drop=True)
    
    # Some players have both a primary and secondary position denoted by PrimaryPos-SecondaryPos in these cases
    # we only care about a player's primary position so we just keep the primary position in our observations
    df['Pos'] = df['Pos'].str.replace('-.*', '', regex=True)
    
    # Setting the index as the unique identifier of each player
    df = df.set_index('PlayerID')
    
    # We ran .info() on each dataframe to ensure we are accounting for any missing data
    # df.info()
    # We only saw non-null data in the float64 columns for 3P% (3 point %) and 2P% (2 point %)
    # which makes sense since there are division by zero erorrs when no field goals of a certain category are 
    # attempted thus it makes sense that these are set as NaN values. Thus accounting for any possible missingness

    # Using os to get the base of the file path and the extension, which we
    # use for writing our clean data as .csv with a new name and subdirectory
    base = os.path.basename(fp)
    fp_base = os.path.splitext(base)[0]
    fp_ext = os.path.splitext(base)[1]
    
    # Writing the cleaned data frames as .csv in the cleanedData/ subdirectory of our repository
    df.to_csv("cleanedData/" + fp_base + "_clean" + fp_ext)
    
    return df


# * PERFORMING CLEANING * and shows OBSERVATIONS AFTER CLEANING
# -------------------------------------------------------------
# Iterate through filepaths list that is initialized above in setup order to clean and print each cleaned dataset
for fp in filepaths:
    print("\n-------------------- Cleaned: " + os.path.basename(fp) + "  --------------------\n")
    cleaned = clean_NBAstats(fp)
    print(" Number of observations (after cleanse/tidying): " + str(cleaned.shape[0]))
    display(cleaned)
    
print("\n*************************************************************************************")
print("*************************** BEFORE CLEANING OBSERVERATIONS **************************")
print("*************************************************************************************\n")
    
# OBSERVATIONS PRIOR TO CLEANING
# ------------------------------
# Iterate through filepaths to see how the original data looks like and to see the # observations prior
# to cleaning as well as getting an idea of the missingness of the data via the .info() method
for fp in filepaths:
    print("\n----------------------- Uncleaned Original: " + os.path.basename(fp) + "  -----------------------\n")
    uncleaned_original = pd.read_csv(fp)
    print(" Number of observations (before cleanse/tidying): " + str(uncleaned_original.shape[0]))
    display(uncleaned_original)
    print(uncleaned_original.info())

-------------------- Cleaned: 2019_2020statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 529

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
adamsst01,Steven Adams,C,OKC,63,1680,1,3,0.333,282,475,0.594
adebaba01,Bam Adebayo,PF,MIA,72,2417,2,14,0.143,438,776,0.564
aldrila01,LaMarcus Aldridge,C,SAS,53,1754,61,157,0.389,330,636,0.519
alexaky01,Kyle Alexander,C,MIA,2,13,0,0,NaN,1,2,0.500
alexani01,Nickeil Alexander-Walker,SG,NOP,47,591,46,133,0.346,52,133,0.391
...,...,...,...,...,...,...,...,...,...,...,...
youngtr01,Trae Young,PG,ATL,60,2120,205,568,0.361,341,681,0.501
zelleco01,Cody Zeller,C,CHO,58,1341,18,75,0.240,233,404,0.577
zellety01,Tyler Zeller,C,SAS,2,4,0,0,NaN,1,4,0.250
zizican01,Ante Žižić,C,CLE,22,221,0,0,NaN,41,72,0.569
zubaciv01,Ivica Zubac,C,LAC,72,1326,0,2,0.000,236,383,0.616

-------------------- Cleaned: 2018_2019statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 530

                 Player Pos   Tm   G    MP   3P  3PA    3P%   2P  2PA    2P%
PlayerID
abrinal01  Álex Abrines  SG  OKC  31   588   41  127  0.323   15   30  0.500
acyqu01      Quincy Acy  PF  PHO  10   123    2   15  0.133    2    3  0.667
adamsja01  Jaylen Adams  PG  ATL  34   428   25   74  0.338   13   36  0.361
adamsst01  Steven Adams   C  OKC  80  2669    0    2  0.000  481  807  0.596
adebaba01   Bam Adebayo   C  MIA  82  1913    3   15  0.200  277  471  0.588
...                 ...  ..  ...  ..   ...  ...  ...    ...  ...  ...    ...
youngtr01    Trae Young  PG  ATL  81  2503  156  482  0.324  369  774  0.477
zelleco01   Cody Zeller   C  CHO  49  1243    6   22  0.273  184  323  0.570
zellety01  Tyler Zeller   C  TOT   6    93    0    1  0.000   16   29  0.552
zizican01    Ante Žižić   C  CLE  59  1082    0    0    NaN  183  331  0.553
zubaciv01   Ivica Zubac   C  TOT  59  1040    0    0    NaN  212  379  0.559

[530 rows x 11 columns]

-------------------- Cleaned: 2017_2018statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 540

                  Player Pos   Tm   G    MP   3P  3PA    3P%   2P  2PA    2P%
PlayerID
abrinal01   Álex Abrines  SG  OKC  75  1134   84  221  0.380   31   70  0.443
acyqu01       Quincy Acy  PF  BRK  70  1359  102  292  0.349   28   73  0.384
adamsst01   Steven Adams   C  OKC  76  2487    0    2  0.000  448  710  0.631
adebaba01    Bam Adebayo   C  MIA  69  1368    0    7  0.000  174  333  0.523
afflaar01  Arron Afflalo  SG  ORL  53   682   27   70  0.386   38   92  0.413
...                  ...  ..  ...  ..   ...  ...  ...    ...  ...  ...    ...
zelleco01    Cody Zeller   C  CHO  33   627    2    3  0.667   83  153  0.542
zellety01   Tyler Zeller   C  TOT  66  1109   10   28  0.357  177  306  0.578
zipsepa01    Paul Zipser  SF  CHI  54   824   37  110  0.336   44  124  0.355
zizican01     Ante Žižić   C  CLE  32   214    0    0    NaN   49   67  0.731
zubaciv01    Ivica Zubac   C  LAL  43   410    0    1  0.000   61  121  0.504

[540 rows x 11 columns]

-------------------- Cleaned: 2016_2017statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 486

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abrinal01,Álex Abrines,SG,OKC,68,1055,94,247,0.381,40,94,0.426
acyqu01,Quincy Acy,PF,TOT,38,558,37,90,0.411,33,80,0.413
adamsst01,Steven Adams,C,OKC,80,2389,0,1,0.000,374,654,0.572
afflaar01,Arron Afflalo,SG,SAC,61,1580,62,151,0.411,123,269,0.457
ajincal01,Alexis Ajinça,C,NOP,39,584,0,4,0.000,89,174,0.511
...,...,...,...,...,...,...,...,...,...,...,...
zelleco01,Cody Zeller,C,CHO,62,1725,0,1,0.000,253,442,0.572
zellety01,Tyler Zeller,C,BOS,51,525,0,1,0.000,78,157,0.497
zimmest01,Stephen Zimmerman,C,ORL,19,108,0,0,NaN,10,31,0.323
zipsepa01,Paul Zipser,SF,CHI,44,843,33,99,0.333,55,122,0.451
zubaciv01,Ivica Zubac,C,LAL,38,609,0,3,0.000,126,235,0.536

-------------------- Cleaned: 2015_2016statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 476

                   Player Pos   Tm   G    MP  3P  3PA    3P%   2P  2PA    2P%
PlayerID
acyqu01        Quincy Acy  PF  SAC  59   876  19   49  0.388  100  165  0.606
adamsjo01    Jordan Adams  SG  MEM   2    15   0    1  0.000    2    5  0.400
adamsst01    Steven Adams   C  OKC  80  2014   0    0    NaN  261  426  0.613
afflaar01   Arron Afflalo  SG  NYK  71  2371  91  238  0.382  263  561  0.469
ajincal01   Alexis Ajinça   C  NOP  59   861   0    1  0.000  150  314  0.478
...                   ...  ..  ...  ..   ...  ..  ...    ...  ...  ...    ...
youngjo01       Joe Young  PG  IND  41   384  10   46  0.217   52  123  0.423
youngni01      Nick Young  SG  LAL  54  1033  77  237  0.325   49  135  0.363
youngth01  Thaddeus Young  PF  BRK  73  2407   7   30  0.233  488  933  0.523
zelleco01     Cody Zeller   C  CHO  73  1774   1   10  0.100  230  427  0.539
zellety01    Tyler Zeller   C  BOS  60   710   0    0    NaN  138  290  0.476

[476 rows x 11 columns]

-------------------- Cleaned: 2014_2015statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 492

                   Player Pos   Tm   G    MP   3P  3PA    3P%   2P  2PA    2P%
PlayerID
acyqu01        Quincy Acy  PF  NYK  68  1287   18   60  0.300  134  271  0.494
adamsjo01    Jordan Adams  SG  MEM  30   248   10   25  0.400   25   61  0.410
adamsst01    Steven Adams   C  OKC  70  1771    0    2  0.000  217  397  0.547
adrieje01     Jeff Adrien  PF  MIN  17   215    0    0    NaN   19   44  0.432
afflaar01   Arron Afflalo  SG  TOT  78  2502  118  333  0.354  257  551  0.466
...                   ...  ..  ...  ..   ...  ...  ...    ...  ...  ...    ...
youngja01     James Young  SG  BOS  31   332   17   66  0.258   19   36  0.528
youngni01      Nick Young  SG  LAL  42  1000   83  225  0.369   91  251  0.363
youngth01  Thaddeus Young  PF  TOT  76  2434   38  115  0.330  413  853  0.484
zelleco01     Cody Zeller   C  CHO  62  1487    1    1  1.000  171  372  0.460
zellety01    Tyler Zeller   C  BOS  82  1731    0    0    NaN  340  619  0.549

[492 rows x 11 columns]

-------------------- Cleaned: 2013_2014statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 480

                   Player Pos   Tm   G    MP   3P  3PA    3P%   2P  2PA    2P%
PlayerID
acyqu01        Quincy Acy  SF  TOT  63   847    4   15  0.267   62  126  0.492
adamsst01    Steven Adams   C  OKC  81  1197    0    0    NaN   93  185  0.503
adrieje01     Jeff Adrien  PF  TOT  53   961    0    0    NaN  143  275  0.520
afflaar01   Arron Afflalo  SG  ORL  73  2552  128  300  0.427  336  711  0.473
ajincal01   Alexis Ajinça   C  NOP  56   951    0    1  0.000  136  248  0.548
...                   ...  ..  ...  ..   ...  ...  ...    ...  ...  ...    ...
wroteto01     Tony Wroten  PG  PHI  72  1765   40  188  0.213  305  620  0.492
youngni01      Nick Young  SG  LAL  64  1810  135  350  0.386  252  539  0.468
youngth01  Thaddeus Young  PF  PHI  79  2718   90  292  0.308  492  991  0.496
zelleco01     Cody Zeller   C  CHA  82  1416    0    1  0.000  172  403  0.427
zellety01    Tyler Zeller   C  CLE  70  1049    0    1  0.000  156  289  0.540

[480 rows x 11 columns]

-------------------- Cleaned: 2012_2013statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 467

                   Player Pos   Tm   G    MP  3P  3PA    3P%   2P  2PA    2P%
PlayerID
acyqu01        Quincy Acy  PF  TOR  29   342   1    2  0.500   41   73  0.562
adrieje01     Jeff Adrien  PF  CHA  52   713   0    2  0.000   72  166  0.434
afflaar01   Arron Afflalo  SF  ORL  64  2307  72  240  0.300  325  665  0.489
akognjo01    Josh Akognon  PG  DAL   3     9   1    2  0.500    1    2  0.500
aldrico01    Cole Aldrich   C  TOT  45   388   0    0    NaN   44   80  0.550
...                   ...  ..  ...  ..   ...  ..  ...    ...  ...  ...    ...
youngni01      Nick Young  SG  PHI  59  1411  75  210  0.357  149  332  0.449
youngsa01       Sam Young  SG  IND  56   693  16   52  0.308   42   96  0.438
youngth01  Thaddeus Young  PF  PHI  76  2629   1    8  0.125  508  950  0.535
zellelu01     Luke Zeller   C  PHO  16    58   1    5  0.200    8   21  0.381
zellety01    Tyler Zeller   C  CLE  77  2033   0    4  0.000  245  555  0.441

[467 rows x 11 columns]

-------------------- Cleaned: 2011_2012statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 478

                   Player Pos   Tm   G    MP   3P  3PA    3P%   2P  2PA    2P%
PlayerID
adrieje01     Jeff Adrien  PF  HOU   8    63    0    0    NaN    7   16  0.438
afflaar01   Arron Afflalo  SG  DEN  62  2086   88  221  0.398  241  478  0.504
ahearbl01    Blake Ahearn  PG  UTA   4    30    2    9  0.222    2    5  0.400
alabiso01   Solomon Alabi   C  TOR  14   122    0    0    NaN   13   36  0.361
aldrico01    Cole Aldrich   C  OKC  26   173    0    0    NaN   22   42  0.524
...                   ...  ..  ...  ..   ...  ...  ...    ...  ...  ...    ...
wrighch01    Chris Wright  SF  GSW  24   186    0    0    NaN   23   45  0.511
wrighdo01   Dorell Wright  SF  GSW  61  1650  105  292  0.360  117  234  0.500
youngni01      Nick Young  SG  TOT  62  1729  103  282  0.365  213  502  0.424
youngsa01       Sam Young  SF  TOT  35   375    5   17  0.294   40  110  0.364
youngth01  Thaddeus Young  PF  PHI  63  1755    1    4  0.250  347  683  0.508

[478 rows x 11 columns]

-------------------- Cleaned: 2010_2011statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 452

                   Player Pos   Tm   G    MP   3P  3PA    3P%   2P  2PA    2P%
PlayerID
adrieje01     Jeff Adrien  PF  GSW  23   196    0    0    NaN   23   54  0.426
afflaar01   Arron Afflalo  SG  DEN  69  2324  105  248  0.423  207  379  0.546
agerma01     Maurice Ager  SG  MIN   4    29    3    4  0.750    3    7  0.429
ajincal01   Alexis Ajinça   C  TOT  34   340   12   34  0.353   47   99  0.475
alabiso01   Solomon Alabi   C  TOR  12    59    0    0    NaN    3   15  0.200
...                   ...  ..  ...  ..   ...  ...  ...    ...  ...  ...    ...
wrighdo01   Dorell Wright  SF  GSW  82  3147  194  516  0.376  291  630  0.462
wrighju01   Julian Wright  SF  TOR  52   766    2   10  0.200   80  150  0.533
youngni01      Nick Young  SG  WAS  64  2034  105  271  0.387  307  664  0.462
youngsa01       Sam Young  SF  MEM  78  1577   17   50  0.340  216  444  0.486
youngth01  Thaddeus Young  PF  PHI  82  2135    6   22  0.273  452  825  0.548

[452 rows x 11 columns]

-------------------- Cleaned: 2009_2010statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 442

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
afflaar01,Arron Afflalo,SG,DEN,82,2221,108,249,0.434,164,336,0.488
ajincal01,Alexis Ajinça,C,CHA,6,30,0,0,NaN,5,10,0.500
aldrila01,LaMarcus Aldridge,PF,POR,78,2922,5,16,0.313,574,1153,0.498
alexajo01,Joe Alexander,SF,CHI,8,29,0,1,0.000,1,5,0.200
allenma01,Malik Allen,PF,DEN,51,456,1,6,0.167,45,110,0.409
...,...,...,...,...,...,...,...,...,...,...,...
wrighdo01,Dorell Wright,SF,MIA,72,1496,61,157,0.389,133,262,0.508
wrighju01,Julian Wright,SF,NOH,68,871,2,6,0.333,114,226,0.504
youngni01,Nick Young,SG,WAS,74,1421,69,170,0.406,164,388,0.423
youngsa01,Sam Young,SF,MEM,80,1321,11,56,0.196,213,441,0.483
youngth01,Thaddeus Young,PF,PHI,67,2145,48,138,0.348,334,675,0.495

-------------------- Cleaned: 2008_2009statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 443

                    Player Pos   Tm   G    MP  3P  3PA    3P%   2P  2PA    2P%
PlayerID
ackeral01       Alex Acker  SG  TOT  25   199   7   20  0.350   23   56  0.411
adamsha01     Hassan Adams  SG  TOR  12    52   0    0    NaN    4   13  0.308
afflaar01    Arron Afflalo  SG  DET  74  1234  43  107  0.402   88  193  0.456
agerma01      Maurice Ager  SG  NJN  20    97   0    6  0.000   15   37  0.405
ahearbl01     Blake Ahearn  PG  SAS   3    19   2    4  0.500    0    2  0.000
...                    ...  ..  ...  ..   ...  ..  ...    ...  ...  ...    ...
wrighju01    Julian Wright  SF  NOH  54   772   2   21  0.095  107  213  0.502
wrighlo02  Lorenzen Wright   C  CLE  17   125   0    0    NaN   10   27  0.370
youngni01       Nick Young  SG  WAS  82  1837  56  164  0.341  280  592  0.473
youngth01   Thaddeus Young  PF  PHI  75  2580  56  164  0.341  419  796  0.526
yuesu01            Sun Yue  SG  LAL  10    28   0    6  0.000    3    5  0.600

[443 rows x 11 columns]

-------------------- Cleaned: 2007_2008statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 450

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdursh01,Shareef Abdur-Rahim,PF,SAC,6,51,0,0,NaN,3,14,0.214
afflaar01,Arron Afflalo,SG,DET,75,970,10,48,0.208,89,193,0.461
agerma01,Maurice Ager,SG,TOT,26,165,3,19,0.158,18,46,0.391
ahearbl01,Blake Ahearn,PG,MIA,12,177,10,34,0.294,5,23,0.217
aldrila01,LaMarcus Aldridge,PF,POR,76,2649,1,7,0.143,560,1153,0.486
...,...,...,...,...,...,...,...,...,...,...,...
wrighdo01,Dorell Wright,SF,MIA,44,1104,4,11,0.364,139,282,0.493
wrighju01,Julian Wright,SF,NOH,57,640,10,24,0.417,80,145,0.552
wrighlo02,Lorenzen Wright,C,TOT,18,161,0,0,NaN,6,21,0.286
youngni01,Nick Young,SG,WAS,75,1158,40,100,0.400,170,378,0.450
youngth01,Thaddeus Young,PF,PHI,74,1554,6,19,0.316,258,471,0.548

-------------------- Cleaned: 2006_2007statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 458

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdursh01,Shareef Abdur-Rahim,C,SAC,80,2015,3,20,0.150,307,634,0.484
adamsha01,Hassan Adams,SG,NJN,61,495,0,1,0.000,75,134,0.560
agerma01,Maurice Ager,SG,DAL,32,214,5,15,0.333,17,55,0.309
aldrila01,LaMarcus Aldridge,C,POR,63,1392,0,2,0.000,241,477,0.505
allenma01,Malik Allen,PF,CHI,60,638,0,1,0.000,107,257,0.416
...,...,...,...,...,...,...,...,...,...,...,...
artesro01,Metta World Peace,SF,SAC,70,2641,93,260,0.358,365,780,0.468
wrighan01,Antoine Wright,SG,NJN,63,1137,19,59,0.322,91,192,0.474
wrighbr02,Bracey Wright,SG,MIN,19,190,6,20,0.300,18,40,0.450
wrighdo01,Dorell Wright,SF,MIA,66,1292,5,34,0.147,157,330,0.476
wrighlo02,Lorenzen Wright,C,ATL,67,1035,0,0,NaN,82,183,0.448

-------------------- Cleaned: 2005_2006statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 458

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdursh01,Shareef Abdur-Rahim,PF,SAC,72,1961,5,22,0.227,327,610,0.536
ackeral01,Alex Acker,SG,DET,5,35,1,5,0.200,3,11,0.273
allenma01,Malik Allen,PF,CHI,54,701,1,1,1.000,120,246,0.488
allenra02,Ray Allen*,SG,SEA,78,3022,269,653,0.412,412,847,0.486
allento01,Tony Allen,PG,BOS,51,978,11,34,0.324,118,240,0.492
...,...,...,...,...,...,...,...,...,...,...,...
wrighan01,Antoine Wright,SG,NJN,39,370,1,15,0.067,28,66,0.424
wrighbr02,Bracey Wright,SG,MIN,7,135,6,17,0.353,15,34,0.441
wrighdo01,Dorell Wright,SF,MIA,20,132,3,6,0.500,17,37,0.459
wrighlo02,Lorenzen Wright,C,MEM,78,1689,0,2,0.000,194,404,0.480
zimmede01,Derrick Zimmerman,PG,NJN,2,32,0,0,NaN,2,3,0.667

-------------------- Cleaned: 2004_2005statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 464

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdursh01,Shareef Abdur-Rahim,PF,POR,54,1867,15,39,0.385,322,631,0.510
alexaco01,Cory Alexander,SG,CHA,16,201,8,19,0.421,8,30,0.267
allenma01,Malik Allen,PF,TOT,36,519,0,0,NaN,84,177,0.475
allenra02,Ray Allen*,SG,SEA,78,3064,209,556,0.376,431,938,0.459
allento01,Tony Allen,SG,BOS,77,1262,12,31,0.387,172,356,0.483
...,...,...,...,...,...,...,...,...,...,...,...
woodsqy01,Qyntel Woods,SF,MIA,3,40,0,0,NaN,5,12,0.417
artesro01,Metta World Peace,SF,IND,7,291,7,17,0.412,52,102,0.510
wrighdo01,Dorell Wright,SF,MIA,3,27,0,4,0.000,3,7,0.429
wrighlo02,Lorenzen Wright,C,MEM,80,2287,0,3,0.000,320,680,0.471
zhizhwa01,Wang Zhizhi,C,MIA,20,92,2,3,0.667,15,33,0.455

-------------------- Cleaned: 2003_2004statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 442

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdursh01,Shareef Abdur-Rahim,PF,TOT,85,2684,9,34,0.265,492,1020,0.482
allenma01,Malik Allen,PF,MIA,45,616,0,0,NaN,83,198,0.419
allenra02,Ray Allen*,SG,SEA,56,2152,148,378,0.392,299,639,0.468
alstora01,Rafer Alston,PG,MIA,82,2581,161,434,0.371,126,330,0.382
anderch01,Chris Andersen,PF,DEN,71,1029,0,1,0.000,90,202,0.446
...,...,...,...,...,...,...,...,...,...,...,...
woodslo01,Loren Woods,C,MIA,38,506,0,0,NaN,44,96,0.458
woodsqy01,Qyntel Woods,SF,POR,62,673,10,29,0.345,78,208,0.375
artesro01,Metta World Peace,SF,IND,73,2714,75,242,0.310,393,870,0.452
wrighlo02,Lorenzen Wright,C,MEM,65,1674,0,5,0.000,257,581,0.442
zhizhwa01,Wang Zhizhi,C,TOT,16,114,4,14,0.286,13,32,0.406

-------------------- Cleaned: 2002_2003statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 428

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdulta01,Tariq Abdul-Wahad,SG,DAL,14,204,0,1,0.000,27,57,0.474
abdursh01,Shareef Abdur-Rahim,PF,ATL,81,3087,21,60,0.350,545,1123,0.485
alexaco02,Courtney Alexander,PG,NOH,66,1360,19,57,0.333,174,448,0.388
allenma01,Malik Allen,PF,MIA,80,2318,0,4,0.000,335,786,0.426
allenra02,Ray Allen*,SG,TOT,76,2880,201,533,0.377,397,830,0.478
...,...,...,...,...,...,...,...,...,...,...,...
woodsqy01,Qyntel Woods,PF,POR,53,334,3,9,0.333,56,109,0.514
artesro01,Metta World Peace,SF,IND,69,2317,71,211,0.336,291,635,0.458
wrighlo02,Lorenzen Wright,C,MEM,70,1982,0,5,0.000,325,711,0.457
yarbrvi01,Vincent Yarbrough,SG,DEN,59,1381,21,78,0.269,147,350,0.420
zhizhwa01,Wang Zhizhi,C,LAC,41,412,16,47,0.340,46,115,0.400

-------------------- Cleaned: 2001_2002statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 440

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdulta01,Tariq Abdul-Wahad,SG,TOT,24,441,1,2,0.500,54,145,0.372
abdursh01,Shareef Abdur-Rahim,PF,ATL,77,2980,21,70,0.300,577,1227,0.470
alexaco02,Courtney Alexander,SG,WAS,56,1325,5,18,0.278,218,456,0.478
alexavi01,Victor Alexander,C,DET,15,97,0,2,0.000,18,49,0.367
allenma01,Malik Allen,PF,MIA,12,161,0,1,0.000,22,50,0.440
...,...,...,...,...,...,...,...,...,...,...,...
willike02,Kevin Willis,PF,HOU,52,865,0,1,0.000,125,283,0.442
woodslo01,Loren Woods,C,MIN,60,516,0,2,0.000,33,94,0.351
artesro01,Metta World Peace,SF,TOT,55,1642,53,170,0.312,216,466,0.464
wrighlo02,Lorenzen Wright,C,MEM,43,1251,0,2,0.000,223,484,0.461
zhizhwa01,Wang Zhizhi,C,DAL,55,600,48,116,0.414,61,132,0.462

-------------------- Cleaned: 2000_2001statsNBA.csv  --------------------

 Number of observations (after cleanse/tidying): 441

,Player,Pos,Tm,G,MP,3P,3PA,3P%,2P,2PA,2P%
PlayerID,,,,,,,,,,,
abdulma02,Mahmoud Abdul-Rauf,PG,VAN,41,486,4,14,0.286,116,232,0.500
abdulta01,Tariq Abdul-Wahad,SG,DEN,29,420,4,10,0.400,39,101,0.386
abdursh01,Shareef Abdur-Rahim,SF,VAN,81,3241,12,64,0.188,592,1216,0.487
alexaco01,Cory Alexander,PG,ORL,26,227,4,16,0.250,14,40,0.350
alexaco02,Courtney Alexander,PG,TOT,65,1382,17,46,0.370,222,527,0.421
...,...,...,...,...,...,...,...,...,...,...,...
wingada01,David Wingate,SG,SEA,1,9,0,0,NaN,3,3,1.000
wolkoru01,Rubén Wolkowyski,PF,SEA,34,305,0,2,0.000,25,77,0.325
artesro01,Metta World Peace,SF,CHI,76,2363,43,148,0.291,284,667,0.426
wrighlo02,Lorenzen Wright,C,ATL,71,1988,0,2,0.000,363,809,0.449
zhizhwa01,Wang Zhizhi,C,DAL,5,38,0,2,0.000,8,17,0.471

*************************************************************************************
*************************** BEFORE CLEANING OBSERVERATIONS **************************
*************************************************************************************


----------------------- Uncleaned Original: 2019_2020statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 651

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams\adamsst01,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo\adebaba01,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge\aldrila01,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
3,4,Kyle Alexander\alexaky01,C,23,MIA,2,0,13,1,2,...,NaN,2,1,3,0,0,0,1,1,2
4,5,Nickeil Alexander-Walker\alexani01,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,525,Trae Young\youngtr01,PG,21,ATL,60,60,2120,546,1249,...,0.860,32,223,255,560,65,8,289,104,1778
647,526,Cody Zeller\zelleco01,C,27,CHO,58,39,1341,251,479,...,0.682,160,251,411,88,40,25,75,140,642
648,527,Tyler Zeller\zellety01,C,30,SAS,2,0,4,1,4,...,NaN,3,1,4,0,0,0,0,0,2
649,528,Ante Žižić\zizican01,C,23,CLE,22,0,221,41,72,...,0.737,18,48,66,6,7,5,10,27,96
650,529,Ivica Zubac\zubaciv01,C,22,LAC,72,70,1326,236,385,...,0.747,197,346,543,82,16,66,61,168,596

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      651 non-null    int64
 1   Player  651 non-null    object
 2   Pos     651 non-null    object
 3   Age     651 non-null    int64
 4   Tm      651 non-null    object
 5   G       651 non-null    int64
 6   GS      651 non-null    int64
 7   MP      651 non-null    int64
 8   FG      651 non-null    int64
 9   FGA     651 non-null    int64
 10  FG%     649 non-null    float64
 11  3P      651 non-null    int64
 12  3PA     651 non-null    int64
 13  3P%     616 non-null    float64
 14  2P      651 non-null    int64
 15  2PA     651 non-null    int64
 16  2P%     645 non-null    float64
 17  eFG%    649 non-null    float64
 18  FT      651 non-null    int64
 19  FTA     651 non-null    int64
 20  FT%     618 non-null    float64
 21  ORB     651 non-null    int64
 22  DRB     651 non-null    int64
 23  TRB     651 non-null    int64
 24  AST     651 non-null    int64
 25  STL     651 non-null    int64
 26  BLK     651 non-null    int64
 27  TOV     651 non-null    int64
 28  PF      651 non-null    int64
 29  PTS     651 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 152.7+ KB
None

----------------------- Uncleaned Original: 2018_2019statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 708

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,25,OKC,31,2,588,56,157,...,0.923,5,43,48,20,17,6,14,53,165
1,2,Quincy Acy\acyqu01,PF,28,PHO,10,0,123,4,18,...,0.700,3,22,25,8,1,4,4,24,17
2,3,Jaylen Adams\adamsja01,PG,22,ATL,34,1,428,38,110,...,0.778,11,49,60,65,14,5,28,45,108
3,4,Steven Adams\adamsst01,C,25,OKC,80,80,2669,481,809,...,0.500,391,369,760,124,117,76,135,204,1108
4,5,Bam Adebayo\adebaba01,C,21,MIA,82,28,1913,280,486,...,0.735,165,432,597,184,71,65,121,203,729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,528,Tyler Zeller\zellety01,C,29,MEM,4,1,82,16,28,...,0.778,9,9,18,3,1,3,4,16,46
704,529,Ante Žižić\zizican01,C,22,CLE,59,25,1082,183,331,...,0.705,108,212,320,53,13,22,61,113,459
705,530,Ivica Zubac\zubaciv01,C,21,TOT,59,37,1040,212,379,...,0.802,115,247,362,63,14,51,70,137,525
706,530,Ivica Zubac\zubaciv01,C,21,LAL,33,12,516,112,193,...,0.864,54,108,162,25,4,27,33,73,281
707,530,Ivica Zubac\zubaciv01,C,21,LAC,26,25,524,100,186,...,0.733,61,139,200,38,10,24,37,64,244

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      708 non-null    int64
 1   Player  708 non-null    object
 2   Pos     708 non-null    object
 3   Age     708 non-null    int64
 4   Tm      708 non-null    object
 5   G       708 non-null    int64
 6   GS      708 non-null    int64
 7   MP      708 non-null    int64
 8   FG      708 non-null    int64
 9   FGA     708 non-null    int64
 10  FG%     702 non-null    float64
 11  3P      708 non-null    int64
 12  3PA     708 non-null    int64
 13  3P%     661 non-null    float64
 14  2P      708 non-null    int64
 15  2PA     708 non-null    int64
 16  2P%     693 non-null    float64
 17  eFG%    702 non-null    float64
 18  FT      708 non-null    int64
 19  FTA     708 non-null    int64
 20  FT%     665 non-null    float64
 21  ORB     708 non-null    int64
 22  DRB     708 non-null    int64
 23  TRB     708 non-null    int64
 24  AST     708 non-null    int64
 25  STL     708 non-null    int64
 26  BLK     708 non-null    int64
 27  TOV     708 non-null    int64
 28  PF      708 non-null    int64
 29  PTS     708 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 166.1+ KB
None

----------------------- Uncleaned Original: 2017_2018statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 664

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,24,OKC,75,8,1134,115,291,...,0.848,26,88,114,28,38,8,25,124,353
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,8,1359,130,365,...,0.817,40,217,257,57,33,29,60,149,411
2,3,Steven Adams\adamsst01,C,24,OKC,76,76,2487,448,712,...,0.559,384,301,685,88,92,78,128,215,1056
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,19,1368,174,340,...,0.721,118,263,381,101,32,41,66,138,477
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,3,682,65,162,...,0.846,4,62,66,30,4,9,21,56,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,537,Tyler Zeller\zellety01,C,28,BRK,42,33,703,125,229,...,0.667,63,131,194,28,8,21,35,78,300
660,537,Tyler Zeller\zellety01,C,28,MIL,24,1,406,62,105,...,0.895,47,64,111,19,7,14,12,48,141
661,538,Paul Zipser\zipsepa01,SF,23,CHI,54,12,824,81,234,...,0.760,13,118,131,46,20,15,43,86,218
662,539,Ante Žižić\zizican01,C,21,CLE,32,2,214,49,67,...,0.724,24,36,60,5,2,13,11,30,119
663,540,Ivica Zubac\zubaciv01,C,20,LAL,43,0,410,61,122,...,0.765,45,78,123,25,8,15,26,47,161

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      664 non-null    int64
 1   Player  664 non-null    object
 2   Pos     664 non-null    object
 3   Age     664 non-null    int64
 4   Tm      664 non-null    object
 5   G       664 non-null    int64
 6   GS      664 non-null    int64
 7   MP      664 non-null    int64
 8   FG      664 non-null    int64
 9   FGA     664 non-null    int64
 10  FG%     660 non-null    float64
 11  3P      664 non-null    int64
 12  3PA     664 non-null    int64
 13  3P%     599 non-null    float64
 14  2P      664 non-null    int64
 15  2PA     664 non-null    int64
 16  2P%     646 non-null    float64
 17  eFG%    660 non-null    float64
 18  FT      664 non-null    int64
 19  FTA     664 non-null    int64
 20  FT%     606 non-null    float64
 21  ORB     664 non-null    int64
 22  DRB     664 non-null    int64
 23  TRB     664 non-null    int64
 24  AST     664 non-null    int64
 25  STL     664 non-null    int64
 26  BLK     664 non-null    int64
 27  TOV     664 non-null    int64
 28  PF      664 non-null    int64
 29  PTS     664 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 155.8+ KB
None

----------------------- Uncleaned Original: 2016_2017statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 595

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines\abrinal01,SG,23,OKC,68,6,1055,134,341,...,0.898,18,68,86,40,37,8,33,114,406
1,2,Quincy Acy\acyqu01,PF,26,TOT,38,1,558,70,170,...,0.750,20,95,115,18,14,15,21,67,222
2,2,Quincy Acy\acyqu01,PF,26,DAL,6,0,48,5,17,...,0.667,2,6,8,0,0,0,2,9,13
3,2,Quincy Acy\acyqu01,PF,26,BRK,32,1,510,65,153,...,0.754,18,89,107,18,14,15,19,58,209
4,3,Steven Adams\adamsst01,C,23,OKC,80,80,2389,374,655,...,0.611,281,332,613,86,89,78,146,195,905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,482,Cody Zeller\zelleco01,C,24,CHO,62,58,1725,253,443,...,0.679,135,270,405,99,62,58,65,189,639
591,483,Tyler Zeller\zellety01,C,27,BOS,51,5,525,78,158,...,0.564,43,81,124,42,7,21,20,61,178
592,484,Stephen Zimmerman\zimmest01,C,20,ORL,19,0,108,10,31,...,0.600,11,24,35,4,2,5,3,17,23
593,485,Paul Zipser\zipsepa01,SF,22,CHI,44,18,843,88,221,...,0.775,15,110,125,36,15,16,40,78,240
594,486,Ivica Zubac\zubaciv01,C,19,LAL,38,11,609,126,238,...,0.653,41,118,159,30,14,33,30,66,284

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      595 non-null    int64
 1   Player  595 non-null    object
 2   Pos     595 non-null    object
 3   Age     595 non-null    int64
 4   Tm      595 non-null    object
 5   G       595 non-null    int64
 6   GS      595 non-null    int64
 7   MP      595 non-null    int64
 8   FG      595 non-null    int64
 9   FGA     595 non-null    int64
 10  FG%     593 non-null    float64
 11  3P      595 non-null    int64
 12  3PA     595 non-null    int64
 13  3P%     549 non-null    float64
 14  2P      595 non-null    int64
 15  2PA     595 non-null    int64
 16  2P%     590 non-null    float64
 17  eFG%    593 non-null    float64
 18  FT      595 non-null    int64
 19  FTA     595 non-null    int64
 20  FT%     571 non-null    float64
 21  ORB     595 non-null    int64
 22  DRB     595 non-null    int64
 23  TRB     595 non-null    int64
 24  AST     595 non-null    int64
 25  STL     595 non-null    int64
 26  BLK     595 non-null    int64
 27  TOV     595 non-null    int64
 28  PF      595 non-null    int64
 29  PTS     595 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 139.6+ KB
None

----------------------- Uncleaned Original: 2015_2016statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 578

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy\acyqu01,PF,25,SAC,59,29,876,119,214,...,0.735,65,123,188,27,29,24,27,103,307
1,2,Jordan Adams\adamsjo01,SG,21,MEM,2,0,15,2,6,...,0.600,0,2,2,3,3,0,2,2,7
2,3,Steven Adams\adamsst01,C,22,OKC,80,80,2014,261,426,...,0.582,219,314,533,62,42,89,84,223,636
3,4,Arron Afflalo\afflaar01,SG,30,NYK,71,57,2371,354,799,...,0.840,23,243,266,144,25,10,82,142,909
4,5,Alexis Ajinça\ajincal01,C,27,NOP,59,17,861,150,315,...,0.839,75,194,269,31,19,36,54,134,352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,472,Joe Young\youngjo01,PG,23,IND,41,0,384,62,169,...,0.800,6,44,50,65,15,0,33,30,154
574,473,Nick Young\youngni01,SG,30,LAL,54,2,1033,126,372,...,0.829,14,83,97,34,23,7,30,50,392
575,474,Thaddeus Young\youngth01,PF,27,BRK,73,73,2407,495,963,...,0.644,176,484,660,136,112,37,136,182,1102
576,475,Cody Zeller\zelleco01,C,23,CHO,73,60,1774,231,437,...,0.754,138,317,455,71,57,63,68,204,638
577,476,Tyler Zeller\zellety01,C,26,BOS,60,3,710,138,290,...,0.815,62,116,178,29,10,22,46,97,364

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      578 non-null    int64
 1   Player  578 non-null    object
 2   Pos     578 non-null    object
 3   Age     578 non-null    int64
 4   Tm      578 non-null    object
 5   G       578 non-null    int64
 6   GS      578 non-null    int64
 7   MP      578 non-null    int64
 8   FG      578 non-null    int64
 9   FGA     578 non-null    int64
 10  FG%     575 non-null    float64
 11  3P      578 non-null    int64
 12  3PA     578 non-null    int64
 13  3P%     522 non-null    float64
 14  2P      578 non-null    int64
 15  2PA     578 non-null    int64
 16  2P%     570 non-null    float64
 17  eFG%    575 non-null    float64
 18  FT      578 non-null    int64
 19  FTA     578 non-null    int64
 20  FT%     554 non-null    float64
 21  ORB     578 non-null    int64
 22  DRB     578 non-null    int64
 23  TRB     578 non-null    int64
 24  AST     578 non-null    int64
 25  STL     578 non-null    int64
 26  BLK     578 non-null    int64
 27  TOV     578 non-null    int64
 28  PF      578 non-null    int64
 29  PTS     578 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 135.6+ KB
None

----------------------- Uncleaned Original: 2014_2015statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 651

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy\acyqu01,PF,24,NYK,68,22,1287,152,331,...,0.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams\adamsjo01,SG,20,MEM,30,0,248,35,86,...,0.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams\adamsst01,C,21,OKC,70,67,1771,217,399,...,0.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien\adrieje01,PF,28,MIN,17,0,215,19,44,...,0.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo\afflaar01,SG,29,TOT,78,72,2502,375,884,...,0.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,490,Thaddeus Young\youngth01,PF,26,TOT,76,68,2434,451,968,...,0.655,127,284,411,173,124,25,117,171,1071
647,490,Thaddeus Young\youngth01,PF,26,MIN,48,48,1605,289,641,...,0.682,75,170,245,135,86,17,75,115,685
648,490,Thaddeus Young\youngth01,PF,26,BRK,28,20,829,162,327,...,0.606,52,114,166,38,38,8,42,56,386
649,491,Cody Zeller\zelleco01,C,22,CHO,62,45,1487,172,373,...,0.774,97,265,362,100,34,49,62,156,472
650,492,Tyler Zeller\zellety01,C,25,BOS,82,59,1731,340,619,...,0.823,146,319,465,113,18,52,76,205,833

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      651 non-null    int64
 1   Player  651 non-null    object
 2   Pos     651 non-null    object
 3   Age     651 non-null    int64
 4   Tm      651 non-null    object
 5   G       651 non-null    int64
 6   GS      651 non-null    int64
 7   MP      651 non-null    int64
 8   FG      651 non-null    int64
 9   FGA     651 non-null    int64
 10  FG%     649 non-null    float64
 11  3P      651 non-null    int64
 12  3PA     651 non-null    int64
 13  3P%     570 non-null    float64
 14  2P      651 non-null    int64
 15  2PA     651 non-null    int64
 16  2P%     647 non-null    float64
 17  eFG%    649 non-null    float64
 18  FT      651 non-null    int64
 19  FTA     651 non-null    int64
 20  FT%     626 non-null    float64
 21  ORB     651 non-null    int64
 22  DRB     651 non-null    int64
 23  TRB     651 non-null    int64
 24  AST     651 non-null    int64
 25  STL     651 non-null    int64
 26  BLK     651 non-null    int64
 27  TOV     651 non-null    int64
 28  PF      651 non-null    int64
 29  PTS     651 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 152.7+ KB
None

----------------------- Uncleaned Original: 2013_2014statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 611

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy\acyqu01,SF,23,TOT,63,0,847,66,141,...,0.660,72,144,216,28,23,26,30,122,171
1,1,Quincy Acy\acyqu01,SF,23,TOR,7,0,61,6,14,...,0.625,5,10,15,4,4,3,2,8,19
2,1,Quincy Acy\acyqu01,SF,23,SAC,56,0,786,60,127,...,0.667,67,134,201,24,19,23,28,114,152
3,2,Steven Adams\adamsst01,C,20,OKC,81,20,1197,93,185,...,0.581,142,190,332,43,40,57,71,203,265
4,3,Jeff Adrien\adrieje01,PF,27,TOT,53,12,961,143,275,...,0.639,102,204,306,38,24,36,39,108,362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,478,Tony Wroten\wroteto01,PG,20,PHI,72,16,1765,345,808,...,0.641,69,159,228,217,78,16,204,151,939
607,479,Nick Young\youngni01,SG,28,LAL,64,9,1810,387,889,...,0.825,29,137,166,95,46,12,95,156,1144
608,480,Thaddeus Young\youngth01,PF,25,PHI,79,78,2718,582,1283,...,0.712,166,310,476,182,167,36,165,213,1417
609,481,Cody Zeller\zelleco01,C,21,CHA,82,3,1416,172,404,...,0.730,118,235,353,92,40,41,87,170,490
610,482,Tyler Zeller\zellety01,C,24,CLE,70,9,1049,156,290,...,0.719,103,179,282,36,18,38,60,137,399

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      611 non-null    int64
 1   Player  611 non-null    object
 2   Pos     611 non-null    object
 3   Age     611 non-null    int64
 4   Tm      611 non-null    object
 5   G       611 non-null    int64
 6   GS      611 non-null    int64
 7   MP      611 non-null    int64
 8   FG      611 non-null    int64
 9   FGA     611 non-null    int64
 10  FG%     604 non-null    float64
 11  3P      611 non-null    int64
 12  3PA     611 non-null    int64
 13  3P%     515 non-null    float64
 14  2P      611 non-null    int64
 15  2PA     611 non-null    int64
 16  2P%     602 non-null    float64
 17  eFG%    604 non-null    float64
 18  FT      611 non-null    int64
 19  FTA     611 non-null    int64
 20  FT%     579 non-null    float64
 21  ORB     611 non-null    int64
 22  DRB     611 non-null    int64
 23  TRB     611 non-null    int64
 24  AST     611 non-null    int64
 25  STL     611 non-null    int64
 26  BLK     611 non-null    int64
 27  TOV     611 non-null    int64
 28  PF      611 non-null    int64
 29  PTS     611 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 143.3+ KB
None

----------------------- Uncleaned Original: 2012_2013statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 573

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy\acyqu01,PF,22,TOR,29,0,342,42,75,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien\adrieje01,PF,26,CHA,52,5,713,72,168,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo\afflaar01,SF,27,ORL,64,64,2307,397,905,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon\akognjo01,PG,26,DAL,3,0,9,2,4,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich\aldrico01,C,24,TOT,45,0,388,44,80,...,0.600,30,90,120,9,5,23,23,60,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,465,Nick Young\youngni01,SG,27,PHI,59,17,1411,224,542,...,0.820,24,106,130,84,36,14,50,84,628
569,466,Sam Young\youngsa01,SG,27,IND,56,3,693,58,148,...,0.535,26,97,123,42,15,8,33,62,155
570,467,Thaddeus Young\youngth01,PF,24,PHI,76,76,2629,509,958,...,0.574,182,389,571,125,133,55,90,191,1127
571,468,Luke Zeller\zellelu01,C,25,PHO,16,0,58,9,26,...,NaN,1,9,10,3,0,0,0,5,19
572,469,Tyler Zeller\zellety01,C,23,CLE,77,55,2033,245,559,...,0.764,159,279,438,96,35,70,95,251,610

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      573 non-null    int64
 1   Player  573 non-null    object
 2   Pos     573 non-null    object
 3   Age     573 non-null    int64
 4   Tm      573 non-null    object
 5   G       573 non-null    int64
 6   GS      573 non-null    int64
 7   MP      573 non-null    int64
 8   FG      573 non-null    int64
 9   FGA     573 non-null    int64
 10  FG%     569 non-null    float64
 11  3P      573 non-null    int64
 12  3PA     573 non-null    int64
 13  3P%     478 non-null    float64
 14  2P      573 non-null    int64
 15  2PA     573 non-null    int64
 16  2P%     569 non-null    float64
 17  eFG%    569 non-null    float64
 18  FT      573 non-null    int64
 19  FTA     573 non-null    int64
 20  FT%     551 non-null    float64
 21  ORB     573 non-null    int64
 22  DRB     573 non-null    int64
 23  TRB     573 non-null    int64
 24  AST     573 non-null    int64
 25  STL     573 non-null    int64
 26  BLK     573 non-null    int64
 27  TOV     573 non-null    int64
 28  PF      573 non-null    int64
 29  PTS     573 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 134.4+ KB
None

----------------------- Uncleaned Original: 2011_2012statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 551

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Jeff Adrien\adrieje01,PF,25,HOU,8,0,63,7,16,...,0.583,5,17,22,1,0,2,2,13,21
1,2,Arron Afflalo\afflaar01,SG,26,DEN,62,62,2086,329,699,...,0.798,40,157,197,149,36,13,85,134,943
2,3,Blake Ahearn\ahearbl01,PG,27,UTA,4,0,30,4,14,...,NaN,0,2,2,1,0,0,5,4,10
3,4,Solomon Alabi\alabiso01,C,23,TOR,14,0,122,13,36,...,0.875,15,32,47,3,2,9,5,11,33
4,5,Cole Aldrich\aldrico01,C,23,OKC,26,0,173,22,42,...,0.929,13,35,48,3,8,16,9,22,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,476,Nick Young\youngni01,SG,26,LAC,22,3,518,76,193,...,0.821,11,25,36,10,14,6,24,51,214
547,477,Sam Young\youngsa01,SF,26,TOT,35,2,375,45,127,...,0.731,20,42,62,15,17,6,16,23,114
548,477,Sam Young\youngsa01,SF,26,MEM,21,2,240,32,83,...,0.833,14,27,41,9,11,2,9,12,74
549,477,Sam Young\youngsa01,SF,26,PHI,14,0,135,13,44,...,0.643,6,15,21,6,6,4,7,11,40
550,478,Thaddeus Young\youngth01,PF,23,PHI,63,1,1755,348,687,...,0.771,137,188,325,74,64,41,55,127,808

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      551 non-null    int64
 1   Player  551 non-null    object
 2   Pos     551 non-null    object
 3   Age     551 non-null    int64
 4   Tm      551 non-null    object
 5   G       551 non-null    int64
 6   GS      551 non-null    int64
 7   MP      551 non-null    int64
 8   FG      551 non-null    int64
 9   FGA     551 non-null    int64
 10  FG%     551 non-null    float64
 11  3P      551 non-null    int64
 12  3PA     551 non-null    int64
 13  3P%     452 non-null    float64
 14  2P      551 non-null    int64
 15  2PA     551 non-null    int64
 16  2P%     551 non-null    float64
 17  eFG%    551 non-null    float64
 18  FT      551 non-null    int64
 19  FTA     551 non-null    int64
 20  FT%     526 non-null    float64
 21  ORB     551 non-null    int64
 22  DRB     551 non-null    int64
 23  TRB     551 non-null    int64
 24  AST     551 non-null    int64
 25  STL     551 non-null    int64
 26  BLK     551 non-null    int64
 27  TOV     551 non-null    int64
 28  PF      551 non-null    int64
 29  PTS     551 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 129.3+ KB
None

----------------------- Uncleaned Original: 2010_2011statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 625

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Jeff Adrien\adrieje01,PF,24,GSW,23,0,196,23,54,...,0.579,23,35,58,10,4,5,9,28,57
1,2,Arron Afflalo\afflaar01,SG,25,DEN,69,69,2324,312,627,...,0.847,45,206,251,168,34,31,71,153,867
2,3,Maurice Ager\agerma01,SG,26,MIN,4,0,29,6,11,...,NaN,0,2,2,1,1,0,4,4,15
3,4,Alexis Ajinça\ajincal01,C,22,TOT,34,2,340,59,133,...,0.722,17,61,78,10,11,19,18,73,143
4,4,Alexis Ajinça\ajincal01,C,22,DAL,10,2,75,12,32,...,0.667,5,12,17,2,3,5,1,13,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,448,Dorell Wright\wrighdo01,SF,25,GSW,82,82,3147,485,1146,...,0.789,88,343,431,242,124,63,133,171,1344
621,449,Julian Wright\wrighju01,SF,23,TOR,52,6,766,82,160,...,0.512,47,71,118,58,39,20,43,45,188
622,450,Nick Young\youngni01,SG,25,WAS,64,40,2034,412,935,...,0.816,26,148,174,75,45,17,90,144,1115
623,451,Sam Young\youngsa01,SF,25,MEM,78,46,1577,233,494,...,0.767,40,147,187,71,68,23,61,120,572
624,452,Thaddeus Young\youngth01,PF,22,PHI,82,1,2135,458,847,...,0.707,153,281,434,82,90,26,99,170,1045

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      625 non-null    int64
 1   Player  625 non-null    object
 2   Pos     625 non-null    object
 3   Age     625 non-null    int64
 4   Tm      625 non-null    object
 5   G       625 non-null    int64
 6   GS      625 non-null    int64
 7   MP      625 non-null    int64
 8   FG      625 non-null    int64
 9   FGA     625 non-null    int64
 10  FG%     622 non-null    float64
 11  3P      625 non-null    int64
 12  3PA     625 non-null    int64
 13  3P%     514 non-null    float64
 14  2P      625 non-null    int64
 15  2PA     625 non-null    int64
 16  2P%     621 non-null    float64
 17  eFG%    622 non-null    float64
 18  FT      625 non-null    int64
 19  FTA     625 non-null    int64
 20  FT%     596 non-null    float64
 21  ORB     625 non-null    int64
 22  DRB     625 non-null    int64
 23  TRB     625 non-null    int64
 24  AST     625 non-null    int64
 25  STL     625 non-null    int64
 26  BLK     625 non-null    int64
 27  TOV     625 non-null    int64
 28  PF      625 non-null    int64
 29  PTS     625 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 146.6+ KB
None

----------------------- Uncleaned Original: 2009_2010statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 578

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Arron Afflalo\afflaar01,SG,24,DEN,82,75,2221,272,585,...,0.735,59,193,252,138,46,30,74,225,724
1,2,Alexis Ajinça\ajincal01,C,21,CHA,6,0,30,5,10,...,0.000,1,3,4,0,1,1,2,5,10
2,3,LaMarcus Aldridge\aldrila01,PF,24,POR,78,78,2922,579,1169,...,0.757,192,435,627,160,67,48,104,231,1393
3,4,Joe Alexander\alexajo01,SF,23,CHI,8,0,29,1,6,...,0.667,2,3,5,2,1,1,0,9,4
4,5,Malik Allen\allenma01,PF,31,DEN,51,3,456,46,116,...,0.923,36,46,82,16,11,5,22,68,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,438,Dorell Wright\wrighdo01,SF,24,MIA,72,1,1496,194,419,...,0.884,50,185,235,91,52,32,53,94,510
574,439,Julian Wright\wrighju01,SF,22,NOH,68,14,871,116,232,...,0.610,58,86,144,41,29,18,44,45,259
575,440,Nick Young\youngni01,SG,24,WAS,74,23,1421,233,558,...,0.800,20,82,102,48,28,8,56,147,639
576,441,Sam Young\youngsa01,SF,24,MEM,80,1,1321,224,497,...,0.777,77,124,201,52,34,20,94,106,595
577,442,Thaddeus Young\youngth01,PF,21,PHI,67,45,2145,382,813,...,0.691,130,220,350,97,81,15,126,133,926

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      578 non-null    int64
 1   Player  578 non-null    object
 2   Pos     578 non-null    object
 3   Age     578 non-null    int64
 4   Tm      578 non-null    object
 5   G       578 non-null    int64
 6   GS      578 non-null    int64
 7   MP      578 non-null    int64
 8   FG      578 non-null    int64
 9   FGA     578 non-null    int64
 10  FG%     575 non-null    float64
 11  3P      578 non-null    int64
 12  3PA     578 non-null    int64
 13  3P%     485 non-null    float64
 14  2P      578 non-null    int64
 15  2PA     578 non-null    int64
 16  2P%     573 non-null    float64
 17  eFG%    575 non-null    float64
 18  FT      578 non-null    int64
 19  FTA     578 non-null    int64
 20  FT%     557 non-null    float64
 21  ORB     578 non-null    int64
 22  DRB     578 non-null    int64
 23  TRB     578 non-null    int64
 24  AST     578 non-null    int64
 25  STL     578 non-null    int64
 26  BLK     578 non-null    int64
 27  TOV     578 non-null    int64
 28  PF      578 non-null    int64
 29  PTS     578 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 135.6+ KB
None

----------------------- Uncleaned Original: 2008_2009statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 582

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Alex Acker\ackeral01,SG,26,TOT,25,0,199,30,76,...,0.500,8,16,24,12,5,4,7,9,72
1,1,Alex Acker\ackeral01,SG,26,DET,7,0,20,4,11,...,0.500,0,2,2,1,2,1,0,0,9
2,1,Alex Acker\ackeral01,SG,26,LAC,18,0,179,26,65,...,0.500,8,14,22,11,3,3,7,9,63
3,2,Hassan Adams\adamsha01,SG,24,TOR,12,0,52,4,13,...,0.500,1,6,7,1,1,1,4,4,11
4,3,Arron Afflalo\afflaar01,SG,23,DET,74,8,1234,131,300,...,0.817,30,104,134,44,28,13,43,144,363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,441,Julian Wright\wrighju01,SF,21,NOH,54,19,772,109,234,...,0.567,46,106,152,43,35,19,43,49,237
578,442,Lorenzen Wright\wrighlo02,C,33,CLE,17,2,125,10,27,...,0.375,7,18,25,3,4,5,9,17,23
579,443,Nick Young\youngni01,SG,23,WAS,82,5,1837,336,756,...,0.850,31,119,150,95,39,20,92,140,892
580,444,Thaddeus Young\youngth01,PF,20,PHI,75,71,2580,475,960,...,0.735,139,238,377,86,100,23,118,165,1145
581,445,Sun Yue\yuesu01,SG,23,LAL,10,0,28,3,11,...,NaN,0,0,0,2,1,1,3,10,6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      582 non-null    int64
 1   Player  582 non-null    object
 2   Pos     582 non-null    object
 3   Age     582 non-null    int64
 4   Tm      582 non-null    object
 5   G       582 non-null    int64
 6   GS      582 non-null    int64
 7   MP      582 non-null    int64
 8   FG      582 non-null    int64
 9   FGA     582 non-null    int64
 10  FG%     578 non-null    float64
 11  3P      582 non-null    int64
 12  3PA     582 non-null    int64
 13  3P%     480 non-null    float64
 14  2P      582 non-null    int64
 15  2PA     582 non-null    int64
 16  2P%     577 non-null    float64
 17  eFG%    578 non-null    float64
 18  FT      582 non-null    int64
 19  FTA     582 non-null    int64
 20  FT%     556 non-null    float64
 21  ORB     582 non-null    int64
 22  DRB     582 non-null    int64
 23  TRB     582 non-null    int64
 24  AST     582 non-null    int64
 25  STL     582 non-null    int64
 26  BLK     582 non-null    int64
 27  TOV     582 non-null    int64
 28  PF      582 non-null    int64
 29  PTS     582 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 136.5+ KB
None

----------------------- Uncleaned Original: 2007_2008statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 595

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Shareef Abdur-Rahim\abdursh01,PF,31,SAC,6,0,51,3,14,...,1.000,6,4,10,4,1,0,1,9,10
1,2,Arron Afflalo\afflaar01,SG,22,DET,75,9,970,99,241,...,0.782,36,101,137,52,31,8,34,83,276
2,3,Maurice Ager\agerma01,SG,23,TOT,26,3,165,21,65,...,0.500,4,9,13,8,0,1,6,17,51
3,3,Maurice Ager\agerma01,SG,23,DAL,12,3,77,5,27,...,0.833,1,3,4,4,0,1,3,11,15
4,3,Maurice Ager\agerma01,SG,23,NJN,14,0,88,16,38,...,0.167,3,6,9,4,0,0,3,6,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,449,Lorenzen Wright\wrighlo02,C,32,TOT,18,1,161,6,21,...,0.500,8,30,38,4,3,3,4,31,15
591,449,Lorenzen Wright\wrighlo02,C,32,ATL,13,1,148,5,17,...,0.500,7,30,37,3,3,3,2,26,13
592,449,Lorenzen Wright\wrighlo02,C,32,SAC,5,0,13,1,4,...,NaN,1,0,1,1,0,0,2,5,2
593,450,Nick Young\youngni01,SG,22,WAS,75,2,1158,210,478,...,0.815,23,92,115,63,35,7,94,130,561
594,451,Thaddeus Young\youngth01,PF,19,PHI,74,22,1554,264,490,...,0.738,120,192,312,58,73,8,64,126,610

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      595 non-null    int64
 1   Player  595 non-null    object
 2   Pos     595 non-null    object
 3   Age     595 non-null    int64
 4   Tm      595 non-null    object
 5   G       595 non-null    int64
 6   GS      595 non-null    int64
 7   MP      595 non-null    int64
 8   FG      595 non-null    int64
 9   FGA     595 non-null    int64
 10  FG%     593 non-null    float64
 11  3P      595 non-null    int64
 12  3PA     595 non-null    int64
 13  3P%     479 non-null    float64
 14  2P      595 non-null    int64
 15  2PA     595 non-null    int64
 16  2P%     592 non-null    float64
 17  eFG%    593 non-null    float64
 18  FT      595 non-null    int64
 19  FTA     595 non-null    int64
 20  FT%     565 non-null    float64
 21  ORB     595 non-null    int64
 22  DRB     595 non-null    int64
 23  TRB     595 non-null    int64
 24  AST     595 non-null    int64
 25  STL     595 non-null    int64
 26  BLK     595 non-null    int64
 27  TOV     595 non-null    int64
 28  PF      595 non-null    int64
 29  PTS     595 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 139.6+ KB
None

----------------------- Uncleaned Original: 2006_2007statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 516

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Shareef Abdur-Rahim\abdursh01,C,30,SAC,80,45,2015,310,654,...,0.726,122,276,398,109,53,40,116,243,793
1,2,Hassan Adams\adamsha01,SG,22,NJN,61,8,495,75,135,...,0.667,35,42,77,13,17,4,22,47,174
2,3,Maurice Ager\agerma01,SG,22,DAL,32,1,214,22,70,...,0.606,1,20,21,7,4,3,15,27,69
3,4,LaMarcus Aldridge\aldrila01,C,21,POR,63,22,1392,241,479,...,0.722,144,168,312,24,22,73,43,186,565
4,5,Malik Allen\allenma01,PF,28,CHI,60,1,638,107,258,...,0.824,42,77,119,16,17,16,21,85,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,454,Metta World Peace\artesro01,SF,27,SAC,70,65,2641,458,1040,...,0.740,102,352,454,235,149,43,146,205,1316
512,455,Antoine Wright\wrighan01,SG,22,NJN,63,23,1137,110,251,...,0.603,38,137,175,55,30,10,43,120,283
513,456,Bracey Wright\wrighbr02,SG,22,MIN,19,0,190,24,60,...,0.722,7,14,21,15,9,1,6,6,67
514,457,Dorell Wright\wrighdo01,SF,21,MIA,66,19,1292,162,364,...,0.744,40,232,272,95,41,46,65,112,393
515,458,Lorenzen Wright\wrighlo02,C,31,ATL,67,31,1035,82,183,...,0.281,85,131,216,40,28,28,39,204,173

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      516 non-null    int64
 1   Player  516 non-null    object
 2   Pos     516 non-null    object
 3   Age     516 non-null    int64
 4   Tm      516 non-null    object
 5   G       516 non-null    int64
 6   GS      516 non-null    int64
 7   MP      516 non-null    int64
 8   FG      516 non-null    int64
 9   FGA     516 non-null    int64
 10  FG%     513 non-null    float64
 11  3P      516 non-null    int64
 12  3PA     516 non-null    int64
 13  3P%     415 non-null    float64
 14  2P      516 non-null    int64
 15  2PA     516 non-null    int64
 16  2P%     511 non-null    float64
 17  eFG%    513 non-null    float64
 18  FT      516 non-null    int64
 19  FTA     516 non-null    int64
 20  FT%     500 non-null    float64
 21  ORB     516 non-null    int64
 22  DRB     516 non-null    int64
 23  TRB     516 non-null    int64
 24  AST     516 non-null    int64
 25  STL     516 non-null    int64
 26  BLK     516 non-null    int64
 27  TOV     516 non-null    int64
 28  PF      516 non-null    int64
 29  PTS     516 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 121.1+ KB
None

----------------------- Uncleaned Original: 2005_2006statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 563

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Shareef Abdur-Rahim\abdursh01,PF,29,SAC,72,30,1961,332,632,...,0.784,106,251,357,149,48,42,108,227,887
1,2,Alex Acker\ackeral01,SG,23,DET,5,0,35,4,16,...,NaN,1,4,5,4,1,0,4,4,9
2,3,Malik Allen\allenma01,PF,27,CHI,54,20,701,121,247,...,0.605,44,96,140,20,14,16,34,92,266
3,4,Ray Allen*\allenra02,SG,30,SEA,78,78,3022,681,1500,...,0.903,71,261,332,286,105,16,188,151,1955
4,5,Tony Allen\allento01,PG,24,BOS,51,9,978,129,274,...,0.746,32,79,111,67,51,18,67,126,369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,454,Antoine Wright\wrighan01,SG,21,NJN,39,0,370,29,81,...,0.500,8,22,30,12,4,3,21,42,70
559,455,Bracey Wright\wrighbr02,SG,21,MIN,7,0,135,21,51,...,0.875,3,15,18,5,1,0,8,8,62
560,456,Dorell Wright\wrighdo01,SF,20,MIA,20,2,132,20,43,...,0.882,2,30,32,8,3,1,14,12,58
561,457,Lorenzen Wright\wrighlo02,C,30,MEM,78,58,1689,194,406,...,0.564,142,253,395,48,52,46,67,201,454
562,458,Derrick Zimmerman\zimmede01,PG,24,NJN,2,0,32,2,3,...,NaN,1,3,4,7,0,0,4,4,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      563 non-null    int64
 1   Player  563 non-null    object
 2   Pos     563 non-null    object
 3   Age     563 non-null    int64
 4   Tm      563 non-null    object
 5   G       563 non-null    int64
 6   GS      563 non-null    int64
 7   MP      563 non-null    int64
 8   FG      563 non-null    int64
 9   FGA     563 non-null    int64
 10  FG%     559 non-null    float64
 11  3P      563 non-null    int64
 12  3PA     563 non-null    int64
 13  3P%     442 non-null    float64
 14  2P      563 non-null    int64
 15  2PA     563 non-null    int64
 16  2P%     558 non-null    float64
 17  eFG%    559 non-null    float64
 18  FT      563 non-null    int64
 19  FTA     563 non-null    int64
 20  FT%     537 non-null    float64
 21  ORB     563 non-null    int64
 22  DRB     563 non-null    int64
 23  TRB     563 non-null    int64
 24  AST     563 non-null    int64
 25  STL     563 non-null    int64
 26  BLK     563 non-null    int64
 27  TOV     563 non-null    int64
 28  PF      563 non-null    int64
 29  PTS     563 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 132.1+ KB
None

----------------------- Uncleaned Original: 2004_2005statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 585

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Shareef Abdur-Rahim\abdursh01,PF,28,POR,54,49,1867,337,670,...,0.866,123,269,392,111,49,26,117,150,909
1,2,Cory Alexander\alexaco01,SG,31,CHA,16,1,201,16,49,...,0.750,8,21,29,37,9,1,19,29,49
2,3,Malik Allen\allenma01,PF,26,TOT,36,1,519,84,177,...,0.929,40,59,99,18,9,22,18,53,194
3,3,Malik Allen\allenma01,PF,26,MIA,14,0,248,35,76,...,0.929,24,28,52,11,4,11,11,29,83
4,3,Malik Allen\allenma01,PF,26,CHA,22,1,271,49,101,...,0.929,16,31,47,7,5,11,7,24,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,460,Qyntel Woods\woodsqy01,SF,23,MIA,3,0,40,5,12,...,NaN,2,4,6,0,4,0,2,6,10
581,461,Metta World Peace\artesro01,SF,25,IND,7,7,291,59,119,...,0.922,8,37,45,22,12,6,17,27,172
582,462,Dorell Wright\wrighdo01,SF,19,MIA,3,0,27,3,11,...,1.000,0,1,1,3,4,0,3,2,7
583,463,Lorenzen Wright\wrighlo02,C,29,MEM,80,77,2287,320,683,...,0.662,177,436,613,87,58,69,100,251,771
584,464,Wang Zhizhi\zhizhwa01,C,27,MIA,20,0,92,17,36,...,0.583,6,12,18,5,3,2,5,9,43

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      585 non-null    int64
 1   Player  585 non-null    object
 2   Pos     585 non-null    object
 3   Age     585 non-null    int64
 4   Tm      585 non-null    object
 5   G       585 non-null    int64
 6   GS      585 non-null    int64
 7   MP      585 non-null    int64
 8   FG      585 non-null    int64
 9   FGA     585 non-null    int64
 10  FG%     583 non-null    float64
 11  3P      585 non-null    int64
 12  3PA     585 non-null    int64
 13  3P%     477 non-null    float64
 14  2P      585 non-null    int64
 15  2PA     585 non-null    int64
 16  2P%     583 non-null    float64
 17  eFG%    583 non-null    float64
 18  FT      585 non-null    int64
 19  FTA     585 non-null    int64
 20  FT%     560 non-null    float64
 21  ORB     585 non-null    int64
 22  DRB     585 non-null    int64
 23  TRB     585 non-null    int64
 24  AST     585 non-null    int64
 25  STL     585 non-null    int64
 26  BLK     585 non-null    int64
 27  TOV     585 non-null    int64
 28  PF      585 non-null    int64
 29  PTS     585 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 137.2+ KB
None

----------------------- Uncleaned Original: 2003_2004statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 585

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Shareef Abdur-Rahim\abdursh01,PF,27,TOT,85,56,2684,501,1054,...,0.869,189,450,639,174,68,37,184,222,1384
1,1,Shareef Abdur-Rahim\abdursh01,PF,27,ATL,53,53,1956,383,790,...,0.880,141,354,495,127,44,19,131,147,1065
2,1,Shareef Abdur-Rahim\abdursh01,PF,27,POR,32,3,728,118,264,...,0.832,48,96,144,47,24,18,53,75,319
3,2,Malik Allen\allenma01,PF,25,MIA,45,6,616,83,198,...,0.758,42,77,119,16,12,28,27,81,191
4,3,Ray Allen*\allenra02,SG,28,SEA,56,56,2152,447,1017,...,0.904,69,217,286,268,71,11,156,132,1287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,440,Metta World Peace\artesro01,SF,24,IND,73,71,2714,468,1112,...,0.733,100,285,385,272,152,50,202,194,1333
581,441,Lorenzen Wright\wrighlo02,C,28,MEM,65,46,1674,257,586,...,0.733,144,301,445,71,45,58,77,192,610
582,442,Wang Zhizhi\zhizhwa01,C,26,TOT,16,0,114,17,46,...,0.900,4,14,18,2,3,5,6,13,47
583,442,Wang Zhizhi\zhizhwa01,C,26,LAC,2,0,9,0,1,...,1.000,0,4,4,0,0,1,0,0,4
584,442,Wang Zhizhi\zhizhwa01,C,26,MIA,14,0,105,17,45,...,0.833,4,10,14,2,3,4,6,13,43

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      585 non-null    int64
 1   Player  585 non-null    object
 2   Pos     585 non-null    object
 3   Age     585 non-null    int64
 4   Tm      585 non-null    object
 5   G       585 non-null    int64
 6   GS      585 non-null    int64
 7   MP      585 non-null    int64
 8   FG      585 non-null    int64
 9   FGA     585 non-null    int64
 10  FG%     582 non-null    float64
 11  3P      585 non-null    int64
 12  3PA     585 non-null    int64
 13  3P%     455 non-null    float64
 14  2P      585 non-null    int64
 15  2PA     585 non-null    int64
 16  2P%     582 non-null    float64
 17  eFG%    582 non-null    float64
 18  FT      585 non-null    int64
 19  FTA     585 non-null    int64
 20  FT%     555 non-null    float64
 21  ORB     585 non-null    int64
 22  DRB     585 non-null    int64
 23  TRB     585 non-null    int64
 24  AST     585 non-null    int64
 25  STL     585 non-null    int64
 26  BLK     585 non-null    int64
 27  TOV     585 non-null    int64
 28  PF      585 non-null    int64
 29  PTS     585 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 137.2+ KB
None

----------------------- Uncleaned Original: 2002_2003statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 483

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Tariq Abdul-Wahad\abdulta01,SG,28,DAL,14,0,204,27,58,...,0.500,14,26,40,21,6,3,7,26,57
1,2,Shareef Abdur-Rahim\abdursh01,PF,26,ATL,81,81,3087,566,1183,...,0.841,175,502,677,242,87,38,212,240,1608
2,3,Courtney Alexander\alexaco02,PG,25,NOH,66,7,1360,193,505,...,0.808,39,79,118,79,31,6,68,125,523
3,4,Malik Allen\allenma01,PF,24,MIA,80,73,2318,335,790,...,0.802,134,291,425,54,37,78,128,234,767
4,5,Ray Allen*\allenra02,SG,27,TOT,76,75,2880,598,1363,...,0.916,94,287,381,334,103,14,198,220,1713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,424,Qyntel Woods\woodsqy01,PF,21,POR,53,0,334,59,118,...,0.350,15,38,53,12,15,1,23,36,128
479,425,Metta World Peace\artesro01,SF,23,IND,69,67,2317,362,846,...,0.736,101,261,362,198,159,50,145,242,1068
480,426,Lorenzen Wright\wrighlo02,C,27,MEM,70,49,1982,325,716,...,0.659,170,358,528,80,51,54,110,209,797
481,427,Vincent Yarbrough\yarbrvi01,SG,21,DEN,59,39,1381,168,428,...,0.790,36,126,162,130,57,33,81,145,406
482,428,Wang Zhizhi\zhizhwa01,C,25,LAC,41,1,412,62,162,...,0.724,26,51,77,10,8,10,31,41,182

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      483 non-null    int64
 1   Player  483 non-null    object
 2   Pos     483 non-null    object
 3   Age     483 non-null    int64
 4   Tm      483 non-null    object
 5   G       483 non-null    int64
 6   GS      483 non-null    int64
 7   MP      483 non-null    int64
 8   FG      483 non-null    int64
 9   FGA     483 non-null    int64
 10  FG%     482 non-null    float64
 11  3P      483 non-null    int64
 12  3PA     483 non-null    int64
 13  3P%     386 non-null    float64
 14  2P      483 non-null    int64
 15  2PA     483 non-null    int64
 16  2P%     482 non-null    float64
 17  eFG%    482 non-null    float64
 18  FT      483 non-null    int64
 19  FTA     483 non-null    int64
 20  FT%     465 non-null    float64
 21  ORB     483 non-null    int64
 22  DRB     483 non-null    int64
 23  TRB     483 non-null    int64
 24  AST     483 non-null    int64
 25  STL     483 non-null    int64
 26  BLK     483 non-null    int64
 27  TOV     483 non-null    int64
 28  PF      483 non-null    int64
 29  PTS     483 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 113.3+ KB
None

----------------------- Uncleaned Original: 2001_2002statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 500

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Tariq Abdul-Wahad\abdulta01,SG,27,TOT,24,12,441,55,147,...,0.727,41,43,84,24,20,10,27,56,135
1,1,Tariq Abdul-Wahad\abdulta01,SG,27,DEN,20,12,417,55,145,...,0.750,39,39,78,22,18,9,24,51,135
2,1,Tariq Abdul-Wahad\abdulta01,SG,27,DAL,4,0,24,0,2,...,0.000,2,4,6,2,2,1,3,5,0
3,2,Shareef Abdur-Rahim\abdursh01,PF,25,ATL,77,77,2980,598,1297,...,0.801,198,498,696,239,98,81,250,214,1636
4,3,Courtney Alexander\alexaco02,SG,24,WAS,56,28,1325,223,474,...,0.810,43,105,148,86,35,7,60,113,549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,438,Metta World Peace\artesro01,SF,22,TOT,55,50,1642,269,636,...,0.667,73,198,271,127,141,39,118,217,727
496,438,Metta World Peace\artesro01,SF,22,CHI,27,26,823,152,351,...,0.628,40,91,131,77,75,23,69,108,421
497,438,Metta World Peace\artesro01,SF,22,IND,28,24,819,117,285,...,0.733,33,107,140,50,66,16,49,109,306
498,439,Lorenzen Wright\wrighlo02,C,26,MEM,43,33,1251,223,486,...,0.569,130,275,405,44,30,23,72,126,516
499,440,Wang Zhizhi\zhizhwa01,C,24,DAL,55,0,600,109,248,...,0.737,19,92,111,22,11,18,25,84,308

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      500 non-null    int64
 1   Player  500 non-null    object
 2   Pos     500 non-null    object
 3   Age     500 non-null    int64
 4   Tm      500 non-null    object
 5   G       500 non-null    int64
 6   GS      500 non-null    int64
 7   MP      500 non-null    int64
 8   FG      500 non-null    int64
 9   FGA     500 non-null    int64
 10  FG%     497 non-null    float64
 11  3P      500 non-null    int64
 12  3PA     500 non-null    int64
 13  3P%     405 non-null    float64
 14  2P      500 non-null    int64
 15  2PA     500 non-null    int64
 16  2P%     496 non-null    float64
 17  eFG%    497 non-null    float64
 18  FT      500 non-null    int64
 19  FTA     500 non-null    int64
 20  FT%     486 non-null    float64
 21  ORB     500 non-null    int64
 22  DRB     500 non-null    int64
 23  TRB     500 non-null    int64
 24  AST     500 non-null    int64
 25  STL     500 non-null    int64
 26  BLK     500 non-null    int64
 27  TOV     500 non-null    int64
 28  PF      500 non-null    int64
 29  PTS     500 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 117.3+ KB
None

----------------------- Uncleaned Original: 2000_2001statsNBA.csv  -----------------------

 Number of observations (before cleanse/tidying): 537

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Mahmoud Abdul-Rauf\abdulma02,PG,31,VAN,41,0,486,120,246,...,0.759,5,20,25,76,9,1,26,50,266
1,2,Tariq Abdul-Wahad\abdulta01,SG,26,DEN,29,12,420,43,111,...,0.583,14,45,59,22,14,13,34,54,111
2,3,Shareef Abdur-Rahim\abdursh01,SF,24,VAN,81,81,3241,604,1280,...,0.834,175,560,735,250,90,77,231,238,1663
3,4,Cory Alexander\alexaco01,PG,27,ORL,26,0,227,18,56,...,0.667,0,25,25,36,16,0,25,29,52
4,5,Courtney Alexander\alexaco02,PG,23,TOT,65,24,1382,239,573,...,0.820,42,101,143,62,45,5,75,139,618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,437,David Wingate\wingada01,SG,37,SEA,1,0,9,3,3,...,NaN,0,0,0,2,0,0,0,1,6
533,438,Rubén Wolkowyski\wolkoru01,PF,27,SEA,34,1,305,25,79,...,0.735,12,34,46,3,6,18,12,38,75
534,439,Metta World Peace\artesro01,SF,21,CHI,76,74,2363,327,815,...,0.750,59,235,294,228,152,45,159,254,907
535,440,Lorenzen Wright\wrighlo02,C,25,ATL,71,46,1988,363,811,...,0.718,180,355,535,87,42,63,125,232,881
536,441,Wang Zhizhi\zhizhwa01,C,23,DAL,5,0,38,8,19,...,0.800,1,6,7,0,0,0,1,8,24

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      537 non-null    int64
 1   Player  537 non-null    object
 2   Pos     537 non-null    object
 3   Age     537 non-null    int64
 4   Tm      537 non-null    object
 5   G       537 non-null    int64
 6   GS      537 non-null    int64
 7   MP      537 non-null    int64
 8   FG      537 non-null    int64
 9   FGA     537 non-null    int64
 10  FG%     532 non-null    float64
 11  3P      537 non-null    int64
 12  3PA     537 non-null    int64
 13  3P%     432 non-null    float64
 14  2P      537 non-null    int64
 15  2PA     537 non-null    int64
 16  2P%     532 non-null    float64
 17  eFG%    532 non-null    float64
 18  FT      537 non-null    int64
 19  FTA     537 non-null    int64
 20  FT%     505 non-null    float64
 21  ORB     537 non-null    int64
 22  DRB     537 non-null    int64
 23  TRB     537 non-null    int64
 24  AST     537 non-null    int64
 25  STL     537 non-null    int64
 26  BLK     537 non-null    int64
 27  TOV     537 non-null    int64
 28  PF      537 non-null    int64
 29  PTS     537 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 126.0+ KB
None